# 03 판다스 데이터프레임 & 시리즈

## 03-1 나만의 데이터 만들기

### 시리즈 만들기

In [3]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [2]:
print(type(s))

<class 'pandas.core.series.Series'>

In [4]:
s = pd.Series(['Wes Mckinney', 'Creator of Pandas'])
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object

In [5]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

### 데이터프레임 만들기

In [6]:
scientists = pd.DataFrame({
    '이름':['김민수', '박철수'],
    '직업':['화학자', '지질학자'],
    '출생':['1920-07-12', '1940-02-11'],
    '사망':['1988-02-01', '1990-03-27']
})

In [7]:
print(scientists)

    이름    직업          출생          사망
0  김민수   화학자  1920-07-12  1988-02-01
1  박철수  지질학자  1940-02-11  1990-03-27

In [11]:
scientists2 = pd.DataFrame(
    
    data = {'직업':['화학자', '지질학자'],
           '출생':['1920-07-12', '1940-02-11'],
           '사망':['1988-02-01', '1990-03-27']},
    index = ['김민수', '박철수']
)

In [12]:
scientists2

       직업          출생          사망
김민수   화학자  1920-07-12  1988-02-01
박철수  지질학자  1940-02-11  1990-03-27

In [13]:
scientists2 = pd.DataFrame(
    
    data = {'직업':['화학자', '지질학자'],
           '출생':['1920-07-12', '1940-02-11'],
           '사망':['1988-02-01', '1990-03-27']},
    index = ['김민수', '박철수'],
    columns = ['출생', '사망', '직업']
)
scientists2

             출생          사망    직업
김민수  1920-07-12  1988-02-01   화학자
박철수  1940-02-11  1990-03-27  지질학자

In [14]:
from collections import OrderedDict

scientists3 = pd.DataFrame(OrderedDict([
    ('이름',['김민수', '박철수']),
    ('직업', ['화학자', '지질학자']),
    ('출생', ['1920-07-12', '1940-02-11']),
    ('사망', ['1988-02-01', '1990-03-27'])
    
])
)
scientists3

    이름    직업          출생          사망
0  김민수   화학자  1920-07-12  1988-02-01
1  박철수  지질학자  1940-02-11  1990-03-27

In [15]:
print(type(scientists3))

<class 'pandas.core.frame.DataFrame'>

## 03-2 시리즈 다루기

In [19]:
scientists = pd.DataFrame(
    data = {'직업':['화학자', '지질학자'],
            '출생':['1920-07-12', '1940-02-11'],
            '사망':['1988-02-01', '1990-03-27']},
    index = ['김민수', '박철수'],
    columns = ['직업', '출생', '사망']
)


first_row = scientists.loc['김민수']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [20]:
print(first_row)

직업           화학자
출생    1920-07-12
사망    1988-02-01
Name: 김민수, dtype: object

### 시리즈 속성 & 메서드 사용하기 - index, values, keys

* 시리즈가 되면 데이터프레임의 컬럼이 인덱스가 된다
* 속성은 메서드와 유사 / 메서드는 괄호를 가짐

In [21]:
print(first_row.index)

Index(['직업', '출생', '사망'], dtype='object')

In [22]:
print(first_row.values)

['화학자' '1920-07-12' '1988-02-01']

In [23]:
print(type(first_row))

<class 'pandas.core.series.Series'>

In [24]:
print(first_row.keys())

Index(['직업', '출생', '사망'], dtype='object')

In [25]:
print(first_row.index[0])

직업

In [26]:
print(first_row.values[0])

화학자

In [29]:
print(first_row.keys()[0])

직업

### 시리즈의 기초 통계 메서드

In [30]:
ages = scientists['출생']
print(ages)

김민수    1920-07-12
박철수    1940-02-11
Name: 출생, dtype: object

In [32]:
mans = pd.DataFrame(
    data={
        '나이':[50, 33],
        '직업':['경찰관', '소방관'],
        '지역':['동대문구', '관악구']
    },
    index = ['김철수', '박영돈'],
    columns =['직업', '나이', '지역']

)

In [33]:
ages = mans['나이']
print(ages)

김철수    50
박영돈    33
Name: 나이, dtype: int64

In [34]:
print(ages.mean())

41.5

In [35]:
print(ages.min())

33

In [36]:
print(ages.max())

50

In [37]:
print(ages.std())

12.020815280171307

#### 자주 사용하는 메서드
* append() : 2개 이상의 시리즈 연결
* describe() : 요약 통계량 계산
* drop_duplicates() : 중복값이 없는 시리즈 반환
* equals() : 시리즈에 해당 값을 가진 요소가 있는지 확인
* get_values() : 시리즈 값 구하기(values 속성과 동일)
* isin() : 시리즈에 포함된 값이 있는지 확인
* min() : 최솟값 반환
* max() : 최댓값 반환
* mean() : 산술 평균 반환
* median() : 중간값 반환
* replace() : 특정 값을 가진 시리즈 값을 교체
* smaple() : 시리즈에서 임의의 값을 반환
* sort_values() : 값을 정렬
* to_frame() : 시리즈를 데이터프레임으로 변환

In [39]:
print(type(ages.std()))

<class 'float'>

## 03-3 시리즈 다루기 - 응용

### 시리즈와 불린 추출

In [44]:
sci = pd.read_csv('./doit_pandas-master/data/scientists.csv')
sci.head(10)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [43]:
print(sci.shape)

(8, 5)

In [42]:
ages = sci['Age']
print(ages.max())

90

In [45]:
print(ages.mean())

59.125

In [46]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [47]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [49]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [56]:
print(ages[:3])

0    37
1    61
2    90
Name: Age, dtype: int64

In [62]:
ages[list([True, False,True, False, True, False,True, False])]

0    37
2    90
4    56
6    41
Name: Age, dtype: int64

In [64]:
print(type(list([True, False,True, False, True, False,True, False])))

<class 'list'>

In [65]:
print(type(ages[:3]))

<class 'pandas.core.series.Series'>

### 시리즈와 브로드캐스팅
브로드캐스팅 : 데이터프레임의 모든 데이터에 연산을 적용하는 것

In [66]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [67]:
print(type(ages+ages))

<class 'pandas.core.series.Series'>

In [68]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [69]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [70]:
print(pd.Series([1,100]))
print(ages+pd.Series([1,100]))

0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [71]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [72]:
print(type(ages.sort_index(ascending=False)))

<class 'pandas.core.series.Series'>

In [73]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

## 03-4 데이터프레임 다루기

### 불린 추출과 브로드캐스팅

In [74]:
print(sci[sci['Age']>sci['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [75]:
print(sci.loc[[True,True, False, True]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [78]:
print(sci*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## 03-5 데이터 프레임의 데이터 처리

### 열의 자료형 바꾸기 & 새로운 열 추가

In [81]:
print(sci['Born'].dtype)

object

In [82]:
print(sci['Died'].dtype)

object

#### 날짜 문자열 처리
* datetime자료형 : %Y-%m-%d

In [83]:
born_datetime = pd.to_datetime(sci['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [84]:
print(sci['Born'])

0    1920-07-25
1    1876-06-13
2    1820-05-12
3    1867-11-07
4    1907-05-27
5    1813-03-15
6    1912-06-23
7    1777-04-30
Name: Born, dtype: object

In [85]:
died_datetime = pd.to_datetime(sci['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [91]:
sci['born_dt'], sci['died_dt'] = (born_datetime, died_datetime)

In [92]:
print(sci.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [94]:
sci.shape

(8, 7)

In [95]:
sci['age_days_dt'] = (sci['died_dt']-sci['born_dt'])
print(sci)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [96]:
print(sci['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [97]:
import random

random.seed(1)
random.shuffle(sci['Age'])
print(sci['Age'])

C:\Users\hsh01\Anaconda3\lib\random.py:277: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    41
2    61
3    45
4    77
5    37
6    56
7    90
Name: Age, dtype: int64

In [98]:
print(sci.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [99]:
sci_dropped = sci.drop(['Age'], axis=1)
print(sci_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

## 03-6 데이터 저장 & 불러오기

### to_pickle
* 피클은 데이터를 이진 형태로 직렬화한 오브젝트 저장법
* 스프레드 시트보다 더 작은 용량

In [100]:
names = sci['Name']
names.to_pickle('./scientists_names_series.pickle')

In [101]:
sci.to_pickle('./scientists_df.pickle')

In [103]:
sci_names_from_pickle = pd.read_pickle('./scientists_names_series.pickle')
print(sci_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [104]:
sci_from_pickle = pd.read_pickle('./scientists_df.pickle')
print(sci_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   41        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   61               Nurse
3           Marie Curie  1867-11-07  1934-07-04   45             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   77           Biologist
5             John Snow  1813-03-15  1858-06-16   37           Physician
6           Alan Turing  1912-06-23  1954-06-07   56  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   90       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

### to_csv -> csv, tsv

In [106]:
names.to_csv('./output/scientists_names_series.csv')
sci.to_csv('./output/scientists_df.tsv', sep='\t')

C:\Users\hsh01\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

### 시리즈/데이터 프레임 -> 엑셀로 저장

* xls로 저장하려면 : xlwt 라이브러리
* xlsx  : openpyxl 라이브러리
* 시리즈는 to_frame() 으로 데이터프레임으로 바꾼 후 사용

In [107]:
import xlwt
import openpyxl

In [109]:
names_df =names.to_frame()
names_df.to_excel('./output/sci_names_series_df.xls')

names_df.to_excel('./output/sci_names_series_df.xlsx')