# 10. apply()
각 행과 열에 동일 연산 적용

## 10-1 간단한 함수 만들기

### 제곱함수, n 제곱 함수

In [2]:
def my_sq(x):
    return x**2

In [3]:
def my_exp(x, n):
    return x**n

In [4]:
print(my_sq(3))

9

In [5]:
print(my_exp(3,3))

27

## 10-2 apply() 사용

### 시리즈에 apply()

In [6]:
import pandas as pd

df = pd.DataFrame({'a':[10, 20, 30], 'b':[20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [9]:
print(df['a']**2)

0    100
1    400
2    900
Name: a, dtype: int64

In [10]:
sq = df['a'].apply(my_sq)
print(sq)

0    100
1    400
2    900
Name: a, dtype: int64

#### 2개의 인자 전달

In [12]:
ex = df['a'].apply(my_exp, n=3)
print(ex)

0     1000
1     8000
2    27000
Name: a, dtype: int64

### 데이터프레임에 apply()

In [13]:
df = pd.DataFrame({'a': [10, 20, 30], 'b':[20, 30, 40]})
print(df)

    a   b
0  10  20
1  20  30
2  30  40

In [14]:
def print_me(x):
    print(x)

#### axis = 열 방향(0), 행 방향(1)

In [15]:
print(df.apply(print_me, axis=0))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

In [16]:
print(df.apply(print_me, axis=1))

a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

#### 3개의 인자를 입력받아 평균 계산하는 함수

In [17]:
def avg_3(x, y, z):
    return (x+y+z)/3

In [20]:
print(df.apply(avg_3))

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

#### 열 단위 데이터 처리 함수 avg_3_apply

In [21]:
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x +y +z)/3

print(df.apply(avg_3_apply))

a    20.0
b    30.0
dtype: float64

#### 일반적인 함수 - 열 방향

In [22]:
def avg_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0] # 열

In [23]:
print(df.apply(avg_apply))

a    20.0
b    30.0
dtype: float64

#### 일반적인 함수 - 행 방향

In [24]:
def avg_2_apply(row):
    sum = 0
    for item in row:
        sum += item
        return sum / df.shape[1] # 행
    
print(df.apply(avg_2_apply, axis=1))

0     5.0
1    10.0
2    15.0
dtype: float64

## 10-3 apply() 사용 2
seaborn 라이브러리 titanic 데이터

In [25]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [26]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

### 누락값 개수 확인

In [27]:
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

In [28]:
cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

### 누락값 비율 계산

In [29]:
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

In [30]:
pmis_col = titanic.apply(prop_missing)
print(pmis_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

#### 누락값 아닌 비율 계산

In [32]:
def prop_complete(vec):
    return 1 - prop_missing(vec)

In [33]:
pc_col = titanic.apply(prop_complete)
print(pc_col)

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

### 누락값 처리하기 - 행 방향

In [34]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

In [35]:
print(cmis_row)

0      1
1      0
2      1
3      0
4      1
5      2
6      0
7      1
8      1
9      1
10     0
11     0
12     1
13     1
14     1
15     1
16     1
17     2
18     1
19     2
20     1
21     0
22     1
23     0
24     1
25     1
26     2
27     0
28     2
29     2
      ..
861    1
862    0
863    2
864    1
865    1
866    1
867    0
868    2
869    1
870    1
871    0
872    0
873    1
874    1
875    1
876    1
877    1
878    2
879    0
880    1
881    1
882    1
883    1
884    1
885    1
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [36]:
print(pmis_row.head())

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

In [37]:
print(pcom_row.head())

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

#### 누락값 개수 구하여 데이터 프레임에 추가

In [38]:
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  num_missing
0    man        True  NaN  Southampton    no  False            1
1  woman       False    C    Cherbourg   yes  False            0
2  woman       False  NaN  Southampton   yes   True            1
3  woman       False    C  Southampton   yes  False            0
4    man        True  NaN  Southampton    no   True            1

#### 누락값이 있는 데이터만 따로 보기

In [40]:
print(titanic.loc[titanic.num_missing > 0,:].sample(10))

     survived  pclass     sex   age  sibsp  parch    fare embarked   class  \
837         0       3    male   NaN      0      0   8.050        S   Third
675         0       3    male  18.0      0      0   7.775        S   Third
785         0       3    male  25.0      0      0   7.250        S   Third
16          0       3    male   2.0      4      1  29.125        Q   Third
354         0       3    male   NaN      0      0   7.225        C   Third
816         0       3  female  23.0      0      0   7.925        S   Third
302         0       3    male  19.0      0      0   0.000        S   Third
668         0       3    male  43.0      0      0   8.050        S   Third
40          0       3  female  40.0      1      0   9.475        S   Third
17          1       2    male   NaN      0      0  13.000        S  Second

       who  adult_male deck  embark_town alive  alone  num_missing
837    man        True  NaN  Southampton    no   True            2
675    man        True  NaN  Southampton    no   True            1
785    man        True  NaN  Southampton    no   True            1
16   child       False  NaN   Queenstown    no  False            1
354    man        True  NaN    Cherbourg    no   True            2
816  woman       False  NaN  Southampton    no   True            1
302    man        True  NaN  Southampton    no   True            1
668    man        True  NaN  Southampton    no   True            1
40   woman       False  NaN  Southampton    no  False            1
17     man        True  NaN  Southampton   yes   True            2