# OneHotEncoding

### LabelEncoder
### OneHotEncoder

In [21]:
import pandas as pd

In [22]:
data = {'alp':['b','c','d','a'], 'val':[2,3,8,4]}
df = pd.DataFrame(data)
df

  alp  val
0   b    2
1   c    3
2   d    8
3   a    4

### 01. LabelEncoder
### 02. OneHotEncoder

In [23]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [29]:
encoder_x = LabelEncoder()

In [30]:
#x[:, 1] # 행 전체 선택, 열은 2번째 선택

In [26]:
fruits = ['orange', 'apple', 'banana', 'watermelon']
df=pd.DataFrame(fruits)
df
encoder_x.fit_transform(df)

C:\Users\ktm\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 3], dtype=int64)

In [31]:
data = ['orange', 'apple', 'banana', 'watermelon']
data = {'fruits' : data}
df=pd.DataFrame(data)
df
df['fruit_Label'] = encoder_x.fit_transform(df['fruits'])
df

       fruits  fruit_Label
0      orange            2
1       apple            0
2      banana            1
3  watermelon            3

In [28]:

data = ['orange', 'apple', 'banana', 'watermelon']
data = {'fruits' : data}
df=pd.DataFrame(data)
df
encoder_x.fit_transform(df['fruits'])

onehotencoder = OneHotEncoder(categoridal_features=[1])

ValueError: could not convert string to float: 'watermelon'

In [32]:
import numpy as np
data=np.array([[3,1,2,4],
              [0,9,8,7],
              [6,5,4,3]])
data

array([[3, 1, 2, 4],
       [0, 9, 8, 7],
       [6, 5, 4, 3]])

In [35]:
import pandas as pd

df=pd.DataFrame(data)
df

   0  1  2  3
0  3  1  2  4
1  0  9  8  7
2  6  5  4  3

In [37]:
df.columns = ['v1', 'v2', 'v3', 'v4']
df

   v1  v2  v3  v4
0   3   1   2   4
1   0   9   8   7
2   6   5   4   3