In [2]:
import keras

Using TensorFlow backend.

In [10]:
# 폐암 환자의 생존율 예측

In [6]:
import pandas as pd
df = pd.read_csv('E:/Bigdata/dataset/modoDeeplearning/ThoraricSurgery.csv', header=None)

In [7]:
df.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [9]:
df.shape

(470, 18)

In [11]:
# 17개 변수 : 종양의 유형, 폐활량, 호흡곤란 여부, 18번: 생존결과

In [12]:
X = df.iloc[ :,:17 ] # 입력 데이터
X.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56

In [13]:
Y = df.iloc[:, 17] # 출력 데이터
Y.head()

0    0
1    0
2    1
3    1
4    0
Name: 17, dtype: int64

In [15]:
from keras.models import Sequential
from keras.layers import Dense
import numpy
import tensorflow as tf

In [16]:
# 딥러닝 구조 결정
# 입력층, 은닉층, 출력층
model = Sequential()
model.add(Dense(30, input_dim=17, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [23]:
# 딥러닝 실행
# loss :오차 값을 확인하는 함수
# optimizer : 오차를 어떻게 줄여 나갈지 정하는 함수
# activation : 다음으로 값을 어떻게 넘길지 정한다.
model.compile(loss='mean_squared_error', optimizer = 'adam', metrics = ['accuracy'])
model.fit(X, Y, epochs = 30, batch_size=10)

Epoch 1/30
470/470 [==============================] - 0s 364us/step - loss: 0.1368 - acc: 0.8426
Epoch 2/30
470/470 [==============================] - 0s 53us/step - loss: 0.1353 - acc: 0.8532
Epoch 3/30
470/470 [==============================] - 0s 49us/step - loss: 0.1361 - acc: 0.8553
Epoch 4/30
470/470 [==============================] - 0s 51us/step - loss: 0.1329 - acc: 0.8574
Epoch 5/30
470/470 [==============================] - 0s 51us/step - loss: 0.1394 - acc: 0.8532
Epoch 6/30
470/470 [==============================] - 0s 51us/step - loss: 0.1407 - acc: 0.8511
Epoch 7/30
470/470 [==============================] - 0s 49us/step - loss: 0.1385 - acc: 0.8553
Epoch 8/30
470/470 [==============================] - 0s 51us/step - loss: 0.1428 - acc: 0.8489
Epoch 9/30
470/470 [==============================] - 0s 49us/step - loss: 0.1347 - acc: 0.8596
Epoch 10/30
470/470 [==============================] - 0s 51us/step - loss: 0.1376 - acc: 0.8489
Epoch 11/30
470/470 [==============================] - 0s 49us/step - loss: 0.1349 - acc: 0.8574
Epoch 12/30
470/470 [==============================] - 0s 49us/step - loss: 0.1335 - acc: 0.8617
Epoch 13/30
470/470 [==============================] - 0s 51us/step - loss: 0.1343 - acc: 0.8511
Epoch 14/30
470/470 [==============================] - 0s 49us/step - loss: 0.1469 - acc: 0.8489
Epoch 15/30
470/470 [==============================] - 0s 51us/step - loss: 0.1423 - acc: 0.8511
Epoch 16/30
470/470 [==============================] - 0s 51us/step - loss: 0.1383 - acc: 0.8553
Epoch 17/30
470/470 [==============================] - 0s 51us/step - loss: 0.1323 - acc: 0.8596
Epoch 18/30
470/470 [==============================] - 0s 51us/step - loss: 0.1314 - acc: 0.8596
Epoch 19/30
470/470 [==============================] - 0s 53us/step - loss: 0.1427 - acc: 0.8447
Epoch 20/30
470/470 [==============================] - 0s 49us/step - loss: 0.1389 - acc: 0.8553
Epoch 21/30
470/470 [==============================] - 0s 51us/step - loss: 0.1377 - acc: 0.8553
Epoch 22/30
470/470 [==============================] - 0s 49us/step - loss: 0.1292 - acc: 0.8511
Epoch 23/30
470/470 [==============================] - 0s 47us/step - loss: 0.1384 - acc: 0.8511
Epoch 24/30
470/470 [==============================] - 0s 49us/step - loss: 0.1329 - acc: 0.8532
Epoch 25/30
470/470 [==============================] - 0s 49us/step - loss: 0.1297 - acc: 0.8553
Epoch 26/30
470/470 [==============================] - 0s 49us/step - loss: 0.1487 - acc: 0.8511
Epoch 27/30
470/470 [==============================] - 0s 49us/step - loss: 0.1487 - acc: 0.8511
Epoch 28/30
470/470 [==============================] - 0s 47us/step - loss: 0.1486 - acc: 0.8511
Epoch 29/30
470/470 [==============================] - 0s 51us/step - loss: 0.1484 - acc: 0.8511
Epoch 30/30
470/470 [==============================] - 0s 49us/step - loss: 0.1478 - acc: 0.8511

In [19]:
model.evaluate(X,Y) # 모델을 평가하는 함수

470/470 [==============================] - 0s 11us/step

[0.14884669666594647, 0.8510638285190502]